#container {
    margin-left: 2em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 60em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
  }
 #container:hover {
     background-color: lightskyblue;
     border-width: thick;
 }
