<div class="example-container">
  <div> * Click student to edit data</div>
  <ng-container *ngIf="(students$ | async) === null">
      Loading ...
  </ng-container>

  <div>
    <student *ngFor="let student of students$ | async"
          [student]="student"></student>
  </div>
</div>


