<ng-container *ngIf="(asyncTabs | async) === null">
  Loading tabs...
</ng-container>

<mat-selection-list class="list-horizontal" [multiple]="false">
  <mat-list-option class="small" *ngFor="let tab of asyncTabs | async" [value]="tab">
    <a routerLink={{tab.content}} routerLinkActive="active-link">{{tab.label}}</a>
  </mat-list-option>
</mat-selection-list>
<router-outlet></router-outlet>