<div class="example-container">
    <h1>Edit student details</h1>
    <form [formGroup]="editForm">
        <mat-form-field hintLabel="Max 30 characters" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput #inputFN maxlength="30" formControlName="firstName" placeholder="Enter student's first name...">
          <mat-hint align="end">{{inputFN.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      
        <mat-form-field hintLabel="Max 30 characters" appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput #inputLN maxlength="30" formControlName="lastName" placeholder="Enter student's last name...">
          <mat-hint align="end">{{inputLN.value?.length || 0}}/30</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
            <mat-label>Group</mat-label>
            <input matInput #inputA maxlength="10" formControlName="group" placeholder="Enter student's group...">
            <mat-hint align="end">{{inputA.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age" placeholder="Enter student's age...">
        </mat-form-field>
        <button [disabled]="!editForm.valid" mat-stroked-button color="primary" (click)="onBtnSaveClick()">Save</button>
    </form>
    <button mat-stroked-button color="warn" (click)="onBtnDeleteClick()">Delete student details</button>
</div>
