<div class="example-container">
    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Enter your email </mat-label>
            <input matInput placeholder="pat@example.com" formControlName="login">
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="onBtnClick()">Login</button>
    </form>
</div>
